
.the-body {
  background-color: #8d93ab;
  font-family: 'Lobster', cursive;;
}

.nav-item {
  margin-right: 3rem;
}

.nav-bar {
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  background-color: #8d93ab;
  color: #cd0a0a;
}

.navbar-brand{
  padding-left: 50px;
  margin: 1rem;
}

.carousel-item {
  /* padding: 7% 15%; */
  /* height: 350px; */
  width: 100%;
  position: relative;
  display: none;
  margin-right: -100%;
  height: 30rem;
  padding: 5% 10%;
}

.carousel-inner {
  text-align: center;
  height: 600px;
}

span.carousel-control-prev-icon {
  background-image: url('././images/right-arrow.png');
  transform: rotate(180deg);
  height: 35px;
  width: 35px;
}
span.carousel-control-next-icon {
  background-image: url('././images/right-arrow.png');
  height: 35px;
  width: 35px;
}

a.carousel-control-next {
  width: 3rem;
  margin-right: 20px;
}

a.carousel-control-prev {
  width: 3rem;
  margin-left: 20px;
}


.info {
  padding: 6% 15%;
  text-align: center;
  color: #f6f5f5;
  margin-bottom: 1rem;
}

.infoLine{
  padding-left: 10px;
  padding-right: 10px;
  width: 25rem;
  font-family: 'Caveat', cursive;
  font-size: 27px;
}

.inputLine {
  margin-right: 2rem;
}

.input-style{
  border-radius: .50rem;
  border: 1px solid #204051;
  line-height: 2;
  outline: none;
  width: 10rem;
  font-size: 20px;
}

.first-btn{
  border: 2px solid #e4e3e3;
  line-height: 2;
  border-radius: 1rem;
  background-color: #eebb4d;
  border-color: #eebb4d;

  /* background-color: #a20a0a;
  border-color: #a20a0a; */
  color: #f6f5f5;
  text-align: center;
  font-size: 20px;
  margin-top: 80px;
  font-family: 'Caveat', cursive;
}
button:hover{
  background-color: #ffba93;
  border-color: #ffba93;
}

.second-btn{
  border: 2px solid #e4e3e3;
  line-height: 2;
  border-radius: 1rem;
  background-color: #eebb4d;
  border-color: #eebb4d;

  /* background-color: #a20a0a;
  border-color: #a20a0a; */
  color: #204051;
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
  font-family: 'Caveat', cursive;
}

.name-block{
  width: 10rem;
  font-family: 'Caveat', cursive;
  font-size: 40px;
  margin: 0 50px 3rem 50px;
  /* color: #a20a0a; */
  color: #eebb4d
}

.vl {
  border-width: 5px;
  height: 50px;
  border-style: none;
  border-top-style: dotted;
  border-color: #ff8e71;
}

.third-btn {
  text-align: center;
  border: 2px solid #e4e3e3;
  width: 120px;
  height: 38px;
  cursor: pointer;
  border-radius: .50rem;
  background-color: #cd0a0a;
  border-color: #cd0a0a;
  color: #f6f5f5;
  font-size: 25px;
  margin-top: .50rem;
}

.infoComment{
  margin: 5rem;
  font-family: 'Caveat', cursive;
}

.heading-four {
  font-size: 30px;
}

.copyright-text {
  position: relative;
  top: 90px;
}

.text-area {
  margin: 30px 0;
  resize: none;
  outline: none;
  border: 1px solid #e4e3e3;
  border-radius: .50rem;
  width: 30rem;
  font-size: 20px;
  border: 1px solid #204051;
}

h1.heading {
  margin-bottom: 6rem;
  font-size: 90px;
  color: #cd0a0a;
}
h3.heading {
  margin-bottom: 4rem;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
}


.social-media {
  font-family: 'Indie Flower', cursive
}

.head {
  margin-top: 200px;
  text-align: center;
  /* margin-bottom: 250px; */
}


#messageInputs {
  text-align: center;
  padding: 60px;
  margin: 3rem 70px 70px 3rem;
  /* background-color: #84a9ac; */
  background-color: #eebb4d;
  color: #f6f5f5;
  font-family: 'Caveat', cursive;
  border-radius: 60px;
  border: 2px solid #eebb4d;
}

.nav-icons {
  padding-left: 20px;
  margin-right: 20px;
  font-size: 17px;
  color: #bbbfca;
}
.nav-icons:hover{
  color: #cd0a0a;
}

.icons-div {
  margin-top: 4.5rem;
}

.icons {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2em;
}
.icons:hover{
  color: #cd0a0a;
}

.img-line {

  margin: 0 3rem;
  border-radius: 5px;
  width: 23%;
}

.home-images {
  height: 75px;
  margin: 20px;
  opacity: 0.9;
}

.image-box {
  margin: 12%;
  text-align: center;
}

.info-icon {
  margin-bottom: 40px;
  color: #eebb4d
}

.home-gallery {
  text-align: center;
}
